{% extends "main.html" %}

{% block content %}


{% if page == 'login' %}
  
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label for="">Password</label>
        <input type="text" name="password" name="" id=""  placeholder="Enter Password"/>

        <input type="submit" value="Login">

        <p> Haven't Singed up yet?</p>
        <a href="{% url 'register' %}">Sing up</a>
        
    </form>
</div>


{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        {{form.as_p}}

        <input type="submit" value="Register">

        <p> Already Singed up yet?</p>
        <a href="{% url 'login' %}">Login</a>
        
    </form>
</div>

{% endif %}
  
{% endblock content %}